.footer {
    background-color: #111;
    color: white;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}
  
.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 1.5rem;
}
  
.footer h4 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #fff;
}
  
.footer p {
    margin: 6px 0;
    color: #bbb;
    transition: color 0.3s ease;
    cursor: default;
}
  
.footer p:hover {
    color: #E82574;

}
  
.footer-logo {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
    color: white;
}
  