.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nav-btn {
  background: none;
  border: 2px solid #ff3399;
  color: #ff3399;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background-color: #ff3399;
  color: white;
}

.book-now-btn {
  padding: 0.5rem 1.2rem;
  background-color: #ff3399;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-now-btn:hover {
  background-color: #e60073;
}
