/* src/styles/LoginPage.css */
.login-page {
    display: flex;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .login-left {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .login-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .login-right {
    width: 50%;
    background-color: #fef1f6; /* Light colored background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-card {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-card h2 {
    margin-bottom: 24px;
    color: #333;
  }
  
  .input-group {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 6px;
    color: #555;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
 .login-button, button {
    /* width: 100%; */
    background-color: #e91e63;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .login-button{
    width: 100%;
  }
  
  button:hover {
    background-color: #d81b60;
  }
  